@font-face {
    font-family: 'HistoryPro';
    src: url('HistoryPro-Two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: #FFFFFF;
	font-family: Montserrat,sans-serif;
	margin: 0;
	table-layout: fixed;
	position: relative;
}

p {
	color: rgba(0, 0, 0, 0.8);
	text-align: justify;
	letter-spacing: -0.015em;
	font-size: 18px;
	line-height: 1.67;
}

.main__menu {
	width: 100%;
	height: 80px;
	background: #FFFFFF;
	box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.25);
	display: flex;
	align-items: center;
	z-index: 2;
	position: relative;
}

.main__menu__burger {
	background-image: url("../img/burger.svg");
	background-size: cover;
	width: 20px;
	min-width: 20px;
	height: 19px;
	margin-left: 10px;
	margin-right: 10px;
	
	cursor: pointer;
}

.main__menu__logotext {
	font-family: Comfortaa;
	font-style: normal;
	font-size: 18px;
	line-height: 1.1;
}

@media (min-width: 992px) {
	.main__menu__logotext {
		font-size: 36px;
		line-height: 1.1;
	}
	
	.main__menu__burger {
		width: 30px;
		height: 28px;
		margin-left: 17px;
		margin-right: 50px;
	}
}

.main__menu__spacer {
	flex: 1;
}

.main__menu__right {
	display: flex;
	align-items: center;
}

.main__menu__languagebutton {
	font-size: 12px;
	line-height: 1.1;
	letter-spacing: -0.015em;
	text-decoration-line: underline;
	cursor: pointer;
	
	margin-right: 5px;
}

@media (min-width: 992px) {
	.main__menu__languagebutton {
		font-size: 14px;
		line-height: 1.1;
		margin-right: 29px;
	}
}

.main__menu__notificationbell {
	background-image: url("../img/bell.svg");
	background-size: cover;
	width: 16px;
	height: 20px;
	margin-left: 0px;
	margin-right: 0px;
	position: relative;
	
	cursor: pointer;
	
	margin-right: 10px;
}

.bell__hasnotifications {
	position: absolute;
	right: 0px;
	top: 0px;
	background: #3DE014;
	width: 7px;
	height: 7px;
	border-radius: 7px;
}

.main__menu__avatar {
	width: 50px;
	height: 50px;
	cursor: pointer;
	margin-right: 17px;
}

.main__menu__avatar-img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 50px;
}

@media (min-width: 992px) {
	.main__menu__avatar {
		width: 50px;
		height: 50px;
		margin-right: 77px;
	}
	
	.main__menu__notificationbell {
		margin-right: 29px;
	}
}

.main__menu__loginbutton {
	width: 60px;
	height: 40px;
	border-radius: 6px;
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	
	font-weight: 500;
	font-size: 15px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	line-height: 37px;

	color: #000000;
	
	margin-right: 6px;
	cursor: pointer;
}

.main__menu__signupbutton {
	width: 60px;
	height: 40px;
	border-radius: 6px;
	background: #000000;
	box-sizing: border-box;
	
	font-weight: 500;
	font-size: 15px;
	align-items: center;
	text-align: center;
	letter-spacing: -0.015em;
	line-height: 37px;

	color: #FFFFFF;
	margin-right: 10px;
	cursor: pointer;
}

@media (min-width: 992px) {
	.main__menu__loginbutton {
		width: 130px;
		height: 40px;
		border-radius: 6px;
		font-size: 15px;
		line-height: 37px;
		margin-right: 12px;
	}

	.main__menu__signupbutton {
		width: 130px;
		height: 40px;
		border-radius: 6px;
		font-size: 15px;
		line-height: 37px;
		margin-right: 70px;
	}
}



.site__content {
	padding-left: 10px;
	padding-right: 10px;
	width: 100%;
	
	
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px) {
	.site__content {
		padding-left: 65px;
		padding-right: 65px;
	}
}

.aboutpage {
	padding-top: 43px;
	width: 100%;
}

.page__title {
	font-weight: bold;
	font-size: 24px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: -0.015em;

	color: #000000;
	margin: 0px;
	padding: 0px;
}

.aboutpage__image {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
}

.aboutpage__content img {
	object-fit: contain;
	height: auto;
	max-height: 300px;
	width: 100%;
}

@media (min-width: 992px) {
	.aboutpage__content img {
		object-fit: contain;
		height: 300px;
		width: 100%;
	}
}

.footer {
	margin-top: 28px;
	height: 205px;
	width: 100%;
	background: #FFFFFF;
	
	display: flex;
	flex-direction: column;
	align-items: center;
}

.footer__sublink {
	text-decoration: none;
	display: inline-block;
	width: 200px;
	font-weight: 500;
	font-size: 18px;
	
	text-align: center;
	letter-spacing: -0.015em;
	color: #DADADA;
	
	order: 1;
	margin-top: 6px;
}

.footer__top {
	display: flex;
	align-items: center;
	width: unset;
	justify-content: space-between;
	margin-top: 23px;
	margin-bottom: 22px;
	flex-direction: column;
}

@media (min-width: 992px) {
	.footer {
		margin-top: 88px;
	
	}
	
	.footer__top {
		width: 800px;
		flex-direction: row;
		margin-top: 83px;
	}
	
	.footer__sublink {
		order: unset;
		margin-top: 0px;
	}
}

.curatorspage {
	padding-top: 16px;
	width: 100%;
}


.curatorspage__content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.curatorspage__content {
		flex-direction: row;
	}
}

.curatorspage__spacer {
	width: 0px;
	margin-left: 50px;
}

.curatorspage__curator {
	margin-top: 20px;
	display: flex;
	flex-direction: column;
	align-items: center;
}

.curatorspage__curator img {
	object-fit: contain;
	height: auto;
	width: 100%;
	max-width: 400px;
	margin-top: 11px;
}

@media (min-width: 992px) {
	.curatorspage__curator img {
		height: 530px;
		width: 400px;
		margin-top: 11px;
	}
}


.profilepage {
	margin-top: 33px;
}

.profilepage__tabs {
	display: flex;
	flex-wrap: wrap;
}

.profilepage__tab {
	background: #FFFFFF;
	border: 1px solid #777777;
	box-sizing: border-box;
	border-radius: 0px 10px 0px 0px;
	width: 140px;
	height: 40px;
	
	padding-left: 0px;
	margin-right: 2px;
	box-sizing: border-box;
	
	font-weight: 500;
	font-size: 14px;
	line-height: 40px;
	letter-spacing: -0.015em;
	text-indent: 7px;

	color: #000000;
	cursor: pointer;
}

@media (min-width: 992px) {
	.profilepage__tab {
		width: 200px;
		height: 45px;
		
		font-size: 18px;
		line-height: 46px;
		
		padding-left: 4px;
		margin-right: 2px;
	}
}

.profilepage__tab-active {
	background: #F3F3F3;
}

.profilepage__content {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.profilepage__content {
		flex-direction: row;
	}
}

.profilepage__content h1 {
	font-style: normal;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.1;
	margin: 0;
	padding: 0;
	
	letter-spacing: -0.015em;

	color: #7C7C7C;
	
	margin-bottom: 30px;
	margin-top: 15px;
}

.profilepage__column {
	display: flex;
	flex-direction: column;
	flex: 1;
}

.profile__avatar {
	object-fit: cover;
	width: 250px;
	height: 250px;
	border-radius: 250px;
	margin-bottom: 46px;
}

.profilepage__spacer {
	margin-left: 69px;
}

.profilepage__sociallinks {
	display: flex;
	flex-direction: column;
}

.profilepage__input {
	display: flex;
	align-items: center;
}

.profilepage__input-name {
	font-weight: 500;
	font-size: 16px;
	line-height: 1.1;

	letter-spacing: -0.015em;

	color: #7C7C7C;
	
	width: 100px;
	margin-bottom: 5px;
}

@media (min-width: 992px) {
	.profilepage__input-name {
		width: 200px;
		font-size: 18px;
	}
}

.profilepage__input-text {
	flex: 1;
}

.profilepage__input-text input {
	width: 100%;
	height: 36px;
	margin-bottom: 10px;
	
	background: #FFFFFF;
	border: 1px solid #777777;
	box-sizing: border-box;
	border-radius: 0px;
	
	color: #000000;
	letter-spacing: -0.015em;
	font-weight: 500;
	font-size: 18px;
	padding-left: 5px;
}

.profilepage__info {
	display: flex;
	flex-direction: column;
}




.landingpage {
	display: flex;
	flex-direction: column;
}

.landingpage__section {
	min-height: unset;
	
	padding-left: 30px;
	padding-right: 30px;
	padding-bottom: 40px;
	
	display: flex;
}

@media (min-width: 992px) {
	.landingpage__section{
		min-height: 865px;
		padding-bottom: 0px;
		padding-left: 70px;
		padding-right: 70px;
	}
}

.landingpage__divider {
	width: 100%;
	border: 1px solid #CECECE;

}

.landingpage__video {
	width: 100%;
	position: relative;
	
	max-width: 500px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px) {
	.landingpage__video {
		max-width: unset;
		margin-left: 0;
		margin-right: 0;
	}
}

.landingpage__video img {
	object-fit: contain;
	width: 100%;
	height: 100%;
}


.landingpage__slide1 .landingpage__column {
	flex: unset;
}

.landingpage__slide1 {
	margin-top: 95px;
	flex-direction: column-reverse;
}

.landingpage__slide1 .landingpage__column:first-child{
	display: flex;
	flex-direction: column;
	align-items: center;
	margin-top: 0px;
}

@media (min-width: 992px) {
	.landingpage__slide1 {
		flex-direction: row;
	}
	
	.landingpage__slide1 .landingpage__column {
		flex: 2;
	}

	.landingpage__slide1 .landingpage__column:first-child{
		flex: 1.2;
		display: flex;
		flex-direction: column;
		align-items: center;
		margin-top: 90px;
	}
}

.landingpage__maintitle {
	font-weight: 500;
	font-size: 48px;
	color: #000000;
}

.landingpage__maintext {
	max-width: 367px;
	font-size: 20px;
	line-height: 1.4;
	
	margin-top: 35px;
	margin-bottom: 35px;
}

.landingpage__mainbutton {
	background: #000000;
	border-radius: 5px;
	width: 200px;
	height: 60px;
	
	text-align: center;
	color: #FFFFFF;
	font-size: 18px;
	line-height: 60px;
	cursor: pointer;
}

.landingpage__video-playbutton {
	position: absolute;
	
	background-image: url("../img/playicon.svg");
	background-size: cover;
	width: 70px;
	height: 70px;
	
	cursor: pointer;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.landingpage__spacer {
	margin-left: 40px;
}

.landingpage__slide2 .landingpage__column {
	flex: 2;
}

.landingpage__subtitle {
	text-align: center;
	letter-spacing: -0.015em;

	color: #000000;
	
	font-weight: bold;
	font-size: 24px;
	line-height: 1.5;
}

.landingpage__slide2 .landingpage__spacer {
	margin-left: 57px;
}

.landingpage__slide2 {
	padding-left: 30px;
	padding-right: 30px;
	padding-top: 107px;
	flex-direction: column-reverse;
}

@media (min-width: 992px) {
	.landingpage__slide2 {
		flex-direction: row;
		padding-left: 100px;
		padding-right: 80px;
	}
}

.landingpage__slide2 .landingpage__column:last-child {
	margin-top: 0px;
}

@media (min-width: 992px) {
	.landingpage__slide2 .landingpage__column:last-child {
		margin-top: 80px;
	}
}

.landingpage__slide2 .landingpage__column:first-child {
	display: flex;
	flex-direction: column;
	align-items: center;
}

.landingpage__text {
	max-width: 550px;
}


.landingpage__slide3 .landingpage__column:first-child {
	
}

.landingpage__slide3 .landingpage__column:last-child {
	flex: 1;
	margin-top: 20px;
}

.landingpage__expert__photo {
	height: 336px;
}



.landingpage__expert__photo img {
	object-fit: contain;
	height: 100%;
	
	display: block;
	margin-left: auto;
	margin-right: auto;
}

.landingpage__experts {
	display: flex;
	margin-top: 11px;
	flex-direction: column;
	justify-content: space-evenly;
}

@media (min-width: 592px) {
	.landingpage__experts {
		flex-direction: row;
	}
}

.landingpage__slide3 {
	padding-top: 47px;
	flex-direction: column;
	max-width: 1440px;
	margin-left: auto;
	margin-right: auto;
}

.landingpage__expert__title {
	font-weight: bold;
	font-size: 18px;
	line-height: 2;

	text-align: center;
	letter-spacing: -0.015em;

	color: #000000;
	margin: 0px;
	padding: 0px;
}

.landingpage__experts-spacer {
	margin-left: 30px;
}

.landingpage__slide3__top {
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.landingpage__slide3__top {
		flex-direction: row;
	}
}

.landingpage__slide4 .landingpage__column:first-child {
	flex: 1;
	margin-top: 50px;
	padding-right: 30px;
}

.landingpage__slide4 .landingpage__column:last-child {
	width: 100%;
	height: 400px;
	position:relative;
	margin-top: 10px;
	margin-bottom: 30px;
	display: flex;
	
}

@media (min-width: 992px) {
	.landingpage__slide4 .landingpage__column:last-child {
		display: flex;
		width: 50%;
		height: auto;
		margin-top: 106px;
		
	}
	
	.landingpage__slide4 .landingpage__column:first-child {
		margin-top: 213px;
	}
}

.landingpage__slide4 {
	padding-right: 0px;
	flex-direction: column;
}

@media (min-width: 992px) {
	.landingpage__slide4 {
		flex-direction: row;
		padding-right: 0px;
	}
}

.landingpage__slide4 .landingpage__column:last-child img {
	right: 0;
	bottom: 0;
	position: absolute;
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.collection__img {
	background-image: url("../img/landing/collection.svg");
	background-size: contain;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: right;
}

.articles__img {
	background-image: url("../img/landing/articles.svg");
	background-size: contain;
	width: 100%;
	height: 100%;
	background-repeat: no-repeat;
	background-position: left;
}

.landingpage__slide5 .landingpage__column:first-child {
	width: 100%;
	height: 300px;
	order: 2;
}

.landingpage__slide5 .landingpage__column:last-child {
	flex: 1;
	margin-top: 40px;
	margin-left: 30px;
}

@media (min-width: 992px) {
	.landingpage__slide5 .landingpage__column:last-child {
		margin-top: 363px;
		margin-left: 0px;
	}
	
	.landingpage__slide5 .landingpage__column:first-child {
		height: auto;
		order: 0;
		width: 60%;
	}
}

.landingpage__slide5 {
	padding-left: 0px;
	flex-direction: column;
}

@media (min-width: 992px) {
	.landingpage__slide5 {
		flex-direction: row;
		padding-left: 0px;
	}
}


.main__title {
	font-size: 32px;
	line-height: 1.5;

	text-align: center;
	letter-spacing: -0.015em;

	color: #000000;
	margin: 0px;
	padding: 0px;
}

.mainpage {
	padding-top: 16px;
	width: 100%;
}

.main__topcards {
	display: flex;
	margin-top: 30px;
	flex-direction: column;
}

.main__topcard {
	width: 100%;
	min-height: 550px;
	
	background: #FFFFFF;
	border: 1px solid rgba(0, 0, 0, 0.5);
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	display: flex;
	flex-direction: column;
}

.main__topcards-spacer {
	flex: 1;
	margin-left: 65px;
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	.main__topcards {
		flex-direction: row;
	}
	
	.main__topcards-spacer {
		flex: 1;
		margin-left: 65px;
		margin-bottom: 0px;
	}
}


.main__topcard__bottom {
	min-height: 160px;
	padding-left: 37px;
	padding-right: 37px;
	padding-top: 27px;
	padding-bottom: 27px;
}

@media (min-width: 992px) {
	.main__topcard__bottom {
		min-height: 160px;
		padding-left: 57px;
		padding-right: 57px;
		padding-top: 27px;
		padding-bottom: 27px;
	}
}

.main__topcard__image {
	flex: 1;
}

.main__topcard__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.main__topcard-title {
	color: #000000;
	letter-spacing: -0.015em;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.5;
	margin-bottom: 14px;
}

.main__topcard-text {
	color: rgba(0, 0, 0, 0.8);
	font-size: 18px;
	line-height: 1.8;
}


.main__subtext {
	color: rgba(0, 0, 0, 0.8);
	letter-spacing: -0.015em;
	font-size: 24px;
	line-height: 1.2;
	margin-top: 30px;
	margin-bottom: 10px;
}

.main__splitcards {
	display: flex;
	flex-direction: column;
}

.splitcards {
	display: flex;
	flex-direction: column;
}

@media (min-width: 700px) {
	.splitcards {
		flex-direction: row;
	}
	
	.main__splitcards {
		flex-direction: row;
	}
}

.bigcard {
	min-height: 430px;
	width: 374px;
	background: #F8F8F8;
	padding: 15px;
	position: relative;
	max-width: 100%;
}

.bigcard-adaptive {
	min-height: 430px;
	background: #F8F8F8;
	padding: 15px;
	position: relative;
	display: flex;
	flex-direction: column;
}

.bigcard__image {
	width: 100%;
}

.bigcard__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.bigcard__text {
	font-size: 14px;
	line-height: 17px;
	letter-spacing: -0.015em;

	color: #000000;
	margin-top: 15px;
	margin-bottom: 15px;
	
}

.card__buttons__flag {
	width: 15px;
	height: 15px;
	
	background-image: url("../img/card/flag.svg");
	background-size: contain;
	
	cursor: pointer;
}

.card__buttons__flag.active {
	background-image: url("../img/card/flag_pressed.svg");
}

.card__buttons__star {
	width: 18px;
	height: 17px;
	
	background-image: url("../img/card/star.svg");
	background-size: contain;
	
	cursor: pointer;
}

.card__buttons__star.active {
	background-image: url("../img/card/star_pressed.svg");
}

.card__buttons__thumbup {
	width: 18px;
	height: 16px;
	
	background-image: url("../img/card/thumbup.svg");
	background-size: contain;
	
	cursor: pointer;
}

.card__buttons__thumbup.active {
	background-image: url("../img/card/thumbup_pressed.svg");
}

.card__buttons__share {
	width: 15px;
	height: 16px;
	
	background-image: url("../img/card/share.svg");
	background-size: contain;
	
	cursor: pointer;
}

.card__buttons {
	display: flex;
	align-items: end;
	width: 90px;
	justify-content: space-between;
	
	position: absolute;

}

.bigcard .card__buttons {
	right: 15px;
	bottom: 4px;
}

.bigcard-adaptive .card__buttons {
	right: 15px;
	bottom: 4px;
}

.main__splitcards-spacer {
	margin-left: 21px;
	margin-bottom: 20px;
}

@media (min-width: 700px) {
	.main__splitcards-spacer {
		margin-bottom: 0px;
	}
}

.cards__vertical {
	flex: 1;
	display: flex;
	flex-direction: column;
}

.sidecard {
	background: #F8F8F8;
	min-height: 205px;
	display: flex;
	padding: 10px;
	margin-bottom: 20px;
	max-height: 300px;
	overflow: hidden;
}

.sidecard:last-child{
	margin-bottom: 0px;
}

.sidecard__image {
	width: 280px;
	height: 100%;
	position: relative;
	padding-bottom: 21px;
	margin-right: 10px;
	max-width: 50%;
}

.sidecard__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.sidecard .card__buttons {
	right: 0px;
	bottom: 0px;
}

.sidecard__text {
	flex: 1;
	font-weight: 500;
	font-size: 12px;
	line-height: 15px;
	letter-spacing: -0.015em;
	overflow: hidden;
}

.sidecard__text h1 {
	color: #000000;
	margin: 0;
	padding: 0;
	font-size: 16px;
	line-height: 20px;
	margin-bottom: 2px;
}

.sidecard-hightlighted {
	background: #ABABAB;
}

.cards__spacer {
	margin-top: 20px;
}



.search__circle {
	position: absolute;
	width: 150px;
	height: 150px;
	left: 50%;
	top: -20px;
	
	background: #DDDDDD;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	border-radius: 150px;
	
	transform: translate(-50%, 0%);
	cursor: pointer;

}

.search__button {
	background-image: url("../img/search.svg");
	background-size: cover;
	width: 30px;
	height: 30px;
	
	position: absolute;
	top: 110px;
	left: 50%;
	transform: translate(-50%, 0%);
	cursor: pointer;

}

.objectspage {
	padding-top: 70px;
	width: 100%;
}

.objectspage__settings {
	display: flex;
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 14px;
	line-height: 20px;
	align-items: center;
	margin-bottom: 20px;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	.objectspage__settings {
		font-size: 20px;
		line-height: 24px;
		margin-bottom: 20px;
	}
}

.objectspage__settings span {
	margin-left: 5px;
}

.layout__thumbnails__button {
	background-image: url("../img/thumbnails.svg");
	background-size: cover;
	width: 25px;
	height: 18px;
	min-width: 25px;
	
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
}

.layout__thumbnails__button.active {
	background-image: url("../img/thumbnails_pressed.svg");
}

.layout__list__button {
	background-image: url("../img/list.svg");
	background-size: cover;
	width: 25px;
	height: 18px;
	min-width: 25px;
	
	margin-right: 5px;
	cursor: pointer;
}

@media (min-width: 992px) {
	.layout__thumbnails__button {
		width: 25px;
		height: 18px;
		
		margin-left: 35px;
		margin-right: 20px;
	}
	
	.layout__list__button {
		width: 25px;
		height: 18px;
		
		margin-right: 42px;
	}
}

.layout__list__button.active {
	background-image: url("../img/list_pressed.svg");
}

.objectspage__settings-spacer {
	flex: 1;
}

.objectspage__settings__comparebutton {
	background: #000000;
	border-radius: 5px;
	height: 32px;
	width: 150px;
	
	font-weight: 500;
	font-size: 18px;
	line-height: 32px;

	text-align: center;
	letter-spacing: -0.015em;

	color: #FFFFFF;
	cursor: pointer;
}

.objectspage__settings input[type=range] {
  -webkit-appearance: none; /* Hides the slider so that custom slider can be made */
  height:5px;
  width:60px;
  cursor: pointer;
  background: #C4C4C4;

  
  margin-left: 4px;
}

@media (min-width: 992px) {
	.objectspage__settings input[type=range] {
		margin-left: 28px;
		width:110px;
	}
}

.objectspage__settings input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	height: 20px;
	width: 20px;
	border-radius: 20px;
	background: #FFF9F9;
	border: 1px solid #969494;
	cursor: pointer;
	margin-top: 0px; /* You need to specify a margin in Chrome, but in Firefox and IE it is automatic */
}

.objectspage__settings input[type=range]:focus {
  outline: none;
}

.objectspage__list {
	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
}


.smallcard {
	background: #F8F8F8;
	height: 269px;
	width: 207px;
	display: flex;
	padding: 10px;
	padding-bottom: 30px;
	margin-right: 0px;
	margin-bottom: 10px;
}

.card-hightlighted {
	background: #ABABAB;
}

.smallcard__image {
	position: relative;
	padding-bottom: 21px;
	height: 100%;
	width: 100%;
}

.smallcard__image img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.smallcard__title {
	text-align: center;
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 18px;
	line-height: 22px;
}

.smallcard .card__buttons {
	right: 0px;

}

.objects__pager {
	text-align: center;
	margin-top: 60px;
}

.objects__pager__text {
	display: flex;
	justify-content: center;
}

.objects__pager__left {
	background-image: url("../img/pager-left.svg");
	background-size: cover;
	width: 11px;
	height: 18px;
	cursor: pointer;
	margin-right: 10px;
}

.objects__pager__right {
	background-image: url("../img/pager-right.svg");
	background-size: cover;
	width: 11px;
	height: 18px;
	cursor: pointer;
	margin-left: 10px;
}

.infopage {
	padding-top: 65px;
	width: 100%;
}

@media (min-width: 992px) {
	.infopage {
		padding-top: 105px;
	}
}

.splitcards-spacer {
	margin-left: 20px;
	margin-bottom: 20px;
}

@media (min-width: 700px) {
	.splitcards-spacer {
		margin-bottom: 0px;
	}
}


.wrapped__list_4 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.wrapped__list_4 .smallcard {
	margin-left: 10px;
	margin-top: 10px;
	flex: 1 0 200px;
}

@media (min-width: 540px) {
  .wrapped__list_4 .smallcard {
    max-width: calc(50% - 10px);
  }
}

@media (min-width: 640px) {
  .wrapped__list_4 .smallcard {
    max-width: calc(33.33333% - 10px);
  }
}

@media (min-width: 750px) {
  .wrapped__list_4 .smallcard {
    max-width: calc(33.33333% - 10px);
  }
}

@media (min-width: 850px) {
  .wrapped__list_4 .smallcard {
    max-width: calc(25% - 10px);
  }
}



@media (min-width: 1040px) {
  .wrapped__list_4 .smallcard {
    min-width: calc(25% - 10px);
  }
}

.slick__list_6 {
	display: flex;
}

.slick__list_4 {
	display: flex;
}

.slick__list_4 .smallcard {
	margin-left: 5px;
	margin-right: 5px;
	width: 320px;
}

.slick__list_6 .smallcard {
	margin-left: 5px;
	margin-right: 5px;
}


.wrapped__list_6 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.wrapped__list_6 .smallcard {
	margin-left: 10px;
	margin-top: 10px;
	flex: 1 0 200px;
}

@media (min-width: 410px) {
  .wrapped__list_6 .smallcard {
    max-width: calc(50% - 10px);
  }
}
@media (min-width: 620px) {
  .wrapped__list_6 .smallcard {
    max-width: calc(33.33333% - 10px);
  }
}
@media (min-width: 830px) {
  .wrapped__list_6 .smallcard {
    max-width: calc(25% - 10px);
  }
}
@media (min-width: 1040px) {
  .wrapped__list_6 .smallcard {
    max-width: calc(20% - 10px);
  }
}
@media (min-width: 1250px) {
  .wrapped__list_6 .smallcard {
    max-width: calc(16.66667% - 10px);
  }
}
@media (min-width: 1460px) {
  .wrapped__list_6 .smallcard {
    max-width: calc(16.66667% - 10px);
  }
}
@media (min-width: 1040px) {
  .wrapped__list_6 .smallcard {
    min-width: calc(16.66667% - 10px);
  }
}

.smallcard.bigcard-adaptive .card__buttons {
	right: 10px;
	bottom: 4px;
}

.smallcard.bigcard-adaptive {
	height: unset;
	min-height: unset;
	margin-bottom: 0px;
}

.smallcard.bigcard-adaptive .bigcard__image {
	height: 190px;
}

.objectext {
	padding-top: 20px;
	width: 100%;
}

.left__title {
	font-weight: bold;
	font-size: 30px;
	line-height: 1.5;

	text-align: left;
	letter-spacing: -0.015em;

	color: #000000;
	margin: 0px;
	padding: 0px;
}

.objext__header {
	display: flex;
	margin-top: -10px;
	align-items: center;
	flex-direction: column;
}

@media (min-width: 992px) {
	.objext__header {
		flex-direction: row;
	}
}

.objext__header__spacer {
	flex: 1;
}

.objext__header__text {
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 24px;
	line-height: 1.1;
	align-self: start;
	margin-bottom: 2px;
}

@media (min-width: 992px) {
	.objext__header__text {
		align-self: end;
	}
}

.objext__header__back {
	text-decoration: none;
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 14px;
	line-height: 1.2;
}

@media (min-width: 992px) {
	.objext__header__back {
		font-size: 18px;
	}
}

.objext__button-wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	justify-content: space-between;
}

.objext__buttons-wrapper {
	display: flex;
	align-items: center;
}

@media (min-width: 992px) {
	.objext__button-wrapper {
		width: auto;
	}
}

.objext__button__photos {
	background-image: url("../img/object/photo.svg");
	background-size: cover;
	width: 45px;
	height: 45px;
	margin-left: 20px;
}

.objext__button__photos.active {
	background-image: url("../img/object/photo_pressed.svg");
}

.objext__button__3d {
	background-image: url("../img/object/3d.svg");
	background-size: cover;
	width: 45px;
	height: 45px;
	margin-left: 2px;
}

.objext__button__3d.active {
	background-image: url("../img/object/3d_pressed.svg");
}

.objext__button__video {
	background-image: url("../img/object/video.svg");
	background-size: cover;
	width: 45px;
	height: 45px;
	margin-left: 2px;
}

.objext__button__video.active {
	background-image: url("../img/object/video_pressed.svg");
}

.objext__photo__wrapper {
	background: #F8F8F8;
	height: auto;

	width: 100%;
	display: flex;
	padding: 10px;
}

@media (min-width: 992px) {
	.objext__photo__wrapper {
		height: 520px;
		width: 100%;
		padding: 10px;
	}
}

.objext__photo {
	height: 100%;
	margin-left: auto;
	margin-right: auto;
	position: relative;
}

.objext__photo img {
	object-fit: contain;
	height: 100%;
	width: 100%;
}

.objext__nextarrow {
	position: absolute;
	
	background-image: url("../img/object/light_nextbutton.svg");
	background-size: cover;
	width: 19px;
	height: 30px;
	
	cursor: pointer;
	
	right: 4%;
	top: 50%;
	transform: translate(0%, -50%);
}

.objext__prevarrow {
	position: absolute;
	
	background-image: url("../img/object/light_prevbutton.svg");
	background-size: cover;
	width: 19px;
	height: 30px;
	
	cursor: pointer;
	
	left: 4%;
	top: 50%;
	transform: translate(0%, -50%);
}

.objext__thumbnails__wrapper {
	background: #F8F8F8;
	height: 105px;
	width: 100%;
	display: flex;
	padding: 10px;
	margin-top: 10px;
	justify-content: center;
	position: relative;
}

.objext__thumbnail {
	margin-left: 5px;
	margin-right: 5px;
	cursor: pointer;
	height: 85px;
	width: 150px;
}

.objext__thumbnail img {
	object-fit: cover;
	height: 100%;
	width: 100%;
}

.objext__thumbnail.transparent img {
	opacity: 0.5;
}

.objext__thumbnails__wrapper .slick-next, .slick__list_6 .slick-next, .slick__list_4 .slick-next {
	border: 0;
    font-size: 0;
    line-height: 0;
	position: absolute;
	
	background-image: url("../img/object/dark_nextbutton.svg");
	background-size: cover;
	width: 19px;
	height: 30px;
	
	cursor: pointer;
	
	right: 3%;
	top: 50%;
	transform: translate(0%, -50%);
	z-index: 2;
	background-color: transparent;
}

.objext__thumbnails__wrapper .slick-prev, .slick__list_6 .slick-prev, .slick__list_4 .slick-prev {
	border: 0;
    font-size: 0;
    line-height: 0;
	position: absolute;
	
	background-image: url("../img/object/dark_prevbutton.svg");
	background-size: cover;
	width: 19px;
	height: 30px;
	
	cursor: pointer;
	
	left: 3%;
	top: 50%;
	transform: translate(0%, -50%);
	z-index: 2;
	background-color: transparent;
}

.objext__nextarrow__dark {
	position: absolute;
	
	background-image: url("../img/object/dark_nextbutton.svg");
	background-size: cover;
	width: 19px;
	height: 30px;
	
	cursor: pointer;
	
	right: 3%;
	top: 50%;
	transform: translate(0%, -50%);
}

.objext__prevarrow__dark {
	position: absolute;
	
	background-image: url("../img/object/dark_prevbutton.svg");
	background-size: cover;
	width: 19px;
	height: 30px;
	
	cursor: pointer;
	
	left: 3%;
	top: 50%;
	transform: translate(0%, -50%);
}

.objext__content__wrapper {
	display: flex;
	margin-top: 28px;
	flex-direction: column;
}

@media (min-width: 992px) {
	.objext__content__wrapper {
		flex-direction: row;
	}
}

.objext__content__info {
	width: 100%;
	margin-top: 0px;
}

@media (min-width: 992px) {
	.objext__content__info {
		width: 250px;
		margin-top: 52px;
	}
}

.objext__content__info h1 {
	margin: 0;
	padding: 0;
	
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 24px;
	margin-bottom: 20px;
}

.objext__content__info span {
	letter-spacing: -0.015em;
	color: #000000;
	margin-bottom: 20px;
	display: inline-block;
	font-size: 18px;
}

.objext__content {
	flex: 1;
}

.objext__tabs {
	display: flex;
	flex-wrap: wrap;
}

.objext__tab {
	background: #FFFFFF;
	border: 1px solid #777777;
	box-sizing: border-box;
	border-radius: 0px 10px 0px 0px;
	width: 140px;
	height: 41px;
	
	padding-left: 4px;
	margin-right: 2px;
	box-sizing: border-box;
	
	font-weight: 500;
	font-size: 20px;
	line-height: 40px;
	letter-spacing: -0.015em;
	text-indent: 1px;

	color: #000000;
	cursor: pointer;
}

@media (min-width: 992px) {
	.objext__tab {
		width: 140px;
		height: 41px;
		
		font-size: 20px;
		line-height: 40px;
		
		padding-left: 4px;
		margin-right: 2px;
	}
}

.objext__tab-active {
	background: #F3F3F3;
}

.objext__content__header {
	display: flex;
	align-items: start;
	justify-content: space-between;
	flex-direction: column;
}

@media (min-width: 1300px) {
	.objext__content__header {
		flex-direction: row;
		align-items: center;
	}
}

.big_card__buttons__flag {
	width: 30px;
	height: 30px;
	
	background-image: url("../img/card/flag.svg");
	background-size: contain;
	
	cursor: pointer;
	background-repeat: no-repeat;
}

.big_card__buttons__flag.active {
	background-image: url("../img/card/flag_pressed.svg");
}

.big_card__buttons__star {
	width: 32px;
	height: 30px;
	
	background-image: url("../img/card/star.svg");
	background-size: contain;
	
	cursor: pointer;
	background-repeat: no-repeat;
}

.big_card__buttons__star.active {
	background-image: url("../img/card/star_pressed.svg");
}

.big_card__buttons__thumbup {
	width: 34px;
	height: 30px;
	
	background-image: url("../img/card/thumbup.svg");
	background-size: contain;
	
	cursor: pointer;
	background-repeat: no-repeat;
}

.big_card__buttons__thumbup.active {
	background-image: url("../img/card/thumbup_pressed.svg");
}

.big_card__buttons__share {
	width: 28px;
	height: 28px;
	
	background-image: url("../img/card/share.svg");
	background-size: contain;
	
	cursor: pointer;
	background-repeat: no-repeat;
}

.objext__buttons {
	display: flex;
	width: 100%;
	max-width: 320px;
	justify-content: space-between;
	align-items: center;
	order: -1;
	margin-bottom: 10px;
}

@media (min-width: 992px) {
	.objext__buttons {
		width: 320px;
	}
}

@media (min-width: 1300px) {
	.objext__buttons {
		order: 1;
		margin-bottom: 0px;
	}
}

.objext__buttons span {
	color: #000000;
	letter-spacing: -0.015em;
	font-weight: 500;
	font-size: 20px;
	line-height: 1.2;
}

.image__floatright {
	float: right;
	margin-left: 10px;
	max-width: 100%;
}

.card__floatright {
	float: right;
	margin-left: 10px;
	border: 1px solid #000000;
	box-sizing: border-box;
	max-width: 100%;
}

.small__title {
	font-weight: 500;
	font-size: 24px;
	line-height: 1.2;
	letter-spacing: -0.015em;
	color: #000000;
	margin-bottom: 10px;
}

.objectspage__settings-right {
	display: flex;
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
	align-items: center;
	margin-bottom: 20px;
	justify-content: right;
}

.objectspage__settings-right span {
	margin-left: 5px;
}

.dark__button {
	background: #000000;
	border-radius: 5px;
	height: 32px;
	
	text-align: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	
	font-weight: 500;
	font-size: 12px;
	line-height: 32px;
	
	padding-left: 6px;
	padding-right: 6px;
	margin-left: 2px;
	
	cursor: pointer;
}

@media (min-width: 992px) {
	.dark__button {
		padding-left: 30px;
		padding-right: 30px;
		height: 42px;
		font-size: 18px;
		line-height: 42px;
	}
}

.objectspage__settings-right .big_card__buttons__share {
	width: 24px;
	height: 28px;
	min-width: 24px;
}

.objectspage__settings__tools__wrapper {
	display: flex;
	align-items: center;
	width: 100%;
	max-width: 340px;
	justify-content: space-between;
}

@media (min-width: 992px) {
	.objectspage__settings__tools__wrapper {
		width: 540px;
		max-width: 540px;
	}
	
	.objectspage__settings-right .big_card__buttons__share {
		width: 40px;
		height: 40px;
	}
}


.wrapped__list_3 {
	display: flex;
	flex-wrap: wrap;
	margin-left: -10px;
	margin-top: -10px;
}

.wrapped__list_3 .smallcard {
	margin-left: 10px;
	margin-top: 10px;
	flex: 1 0 100%;
}

@media (min-width: 992px) {
	.wrapped__list_3 .smallcard {
		flex: 1 0 400px;
	}
}

@media (min-width: 740px) {
  .wrapped__list_3 .smallcard {
    max-width: calc(50% - 10px);
  }
}

@media (min-width: 1050px) {
  .wrapped__list_3 .smallcard {
    max-width: calc(33.33333% - 10px);
  }
}

@media (min-width: 1050px) {
  .wrapped__list_3 .smallcard {
    max-width: calc(33.3333% - 10px);
  }
}



@media (min-width: 960px) {
  .wrapped__list_3 .smallcard {
    min-width: calc(33.3333% - 10px);
  }
}

.bigger-cards .bigcard-adaptive {
	
}

.bigger-cards .bigcard-adaptive .bigcard__image {
	height: 430px;
}

.bigger-cards .bigcard-adaptive .bigcard__text {
	font-weight: 500;
	font-size: 20px;
	line-height: 24px;
}

.bigger-cards .bigcard-adaptive .bigcard__text strong {
	font-weight: bold;
	font-size: 24px;
	line-height: 29px;
	margin-bottom: 5px;
	display: inline-block;
}


.global__wrapper{
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.global__wrapper {
		flex-direction: row;
	}
}

.site__left {
	flex: 1.5;
	position: relative;
}

.site__right {
	flex: 1;
}

.site__separator {
	width: auto;
	height: 1px;
	background: rgba(0, 0, 0, 0.5);
	margin-top: 10px;
}

@media (min-width: 992px) {
	.site__separator {
		width: 1px;
		height: auto;
		margin-top: 0px;
	}
}

.objectspage__settings.with-border {
	border-bottom: 2px solid rgba(0, 0, 0, 0.5);
	padding-bottom: 2px;
}

.sidecards__smaller .sidecard {
	height: 170px;
	min-height: 170px;
}

.sidecards__smaller .sidecard .sidecard__image {
	width: 120px;
}

.sidecards__smaller .sidecard .sidecard__text h1 {
	letter-spacing: -0.015em;
	padding: 0;
	margin: 0;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.1;
	margin-top: 10px;
}

.sidecards__smaller .sidecard .sidecard__text p {
	font-size: 16px;
	line-height: 1.4;
}

.site__rightpanel {
	padding-top: 25px;
	padding-left: 10px;
	padding-right: 10px;
	max-width: 600px;
	margin-left: auto;
	margin-right: auto;
}

@media (min-width: 992px) {
	.site__rightpanel {
		padding-left: 70px;
		padding-right: 70px;
	}
}

.rightpanel__image {
	width: 100%;
	position: relative;
	margin-bottom: 30px;
}

.rightpanel__image .card__buttons {
	right: 0px;
	bottom: -20px;
}

.rightpanel__image img {
	width: 100%;
	object-fit: cover;
}

.rightpanel__title {
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: 500;
	font-size: 22px;
	line-height: 1.1;
}

.articlepage {
	padding-top: 20px;
	width: 100%;
	
	display: flex;
	flex-direction: column;
}

@media (min-width: 992px) {
	.articlepage {
		flex-direction: row;
	}
}

.article__video {
	width: 100%;
	display: flex;
	align-content: center;
	align-items: center;
	flex-direction: column;
	position: relative;
}

.article__video img {
	object-fit: cover;
	height: auto;
	width: 100%;
	max-width: 550px;
}

@media (min-width: 992px) {
	.article__video img {
		height: 300px;
		width: auto;
		max-width: unset;
	}
}

.video-playbutton {
	position: absolute;
	
	background-image: url("../img/playicon.svg");
	background-size: cover;
	width: 46px;
	height: 46px;
	
	cursor: pointer;
	
	left: 50%;
	top: 50%;
	transform: translate(-50%, -50%);
}

.article__content {
	flex: 1;
}

.article__rightpanel {
	display: flex;
	align-items: start;
	flex-direction: column;
	margin-top: 0px;
	margin-left: 0px;
	order: -1;
}

.article__rightpanel__content {
	display: none;
	flex-direction: column;
}

@media (min-width: 992px) { 
	.article__rightpanel__content {
		display: flex;
	}
	
	.article__rightpanel {
		margin-top: 20px;
		margin-left: 36px;
		order: 1;
		align-items: center;
	}
}

.card__border {
	border: 1px solid #000000;
	box-sizing: border-box;
}

.article__rightpanel__spacer {
	margin-top: 20px;
}

.sidemenu-wrapper {
	position: absolute;
	left: 0;
	top: 0;
	height: 100%;
	z-index: 3;
	width: 0;
}

.sidemenu {
	width: 250px;
	height: 100%;
	background: #FFFFFF;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);

	margin-top: 0px;
	top: 0;
	left: 0;
	
	display: flex;
	flex-direction: column;
	padding-top: 25px;
	position: relative;
	
	transform: translate(-260px, 0%);
	transition: all 500ms ease-in-out 0s;
}

@media (min-width: 992px) {
	.sidemenu {
		transform: translate(-600px, 0%);
	}
}

.sidemenu-show {
	transform: translate(0px, 0%);
}

.sidemenu__close {
	background-image: url("../img/closebutton.svg");
	background-size: cover;
	width: 32px;
	height: 30px;
	margin-bottom: 25px;
	margin-left: 14px;
	cursor: pointer;
}

.sidemenu__title {
	font-family: Comfortaa;
	font-style: normal;
	font-size: 36px;
	line-height: 76px;
	position: absolute;
	left: 250px;
	top: 0;
	width: 350px;
	height: 80px;
	background: #7F7F7F;
	text-align: center;
	display: none;
}

@media (min-width: 992px) {
	.sidemenu__title {
		display: block;
	}
}

.sidemenu__item {
	background: #FFFFFF;
	border-radius: 0px;
	width: 250px;
	height: 50px;
	
	letter-spacing: -0.015em;
	text-indent: 15px;

	color: #000000;
	font-weight: 500;
	font-size: 18px;
	line-height: 50px;
	cursor: pointer;
	text-decoration: none;
}

.sidemenu__item:hover {
	background: #DDDDDD;
}

.profilepane {
	position: absolute;
	width: 100%;
	max-width: 471px;
	height: 422px;
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
	
	right: 0;
	top: 80px;
	z-index: 2;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: 30px;
	
	transition: all 100ms ease-in-out 0s;
	opacity: 0;
	pointer-events: none;
}

.profilepane-visible {
	opacity: 1;
	pointer-events: auto;
}

@media (min-width: 992px) {
	.profilepane {
		width: 471px;
		height: 622px;
		padding-top: 50px;
	}
}

.profilepane__avatar {
	width: 100px;
	height: 100px;
}

.profilepane__avatar img {
	object-fit: cover;
	width: 100%;
	height: 100%;
	border-radius: 100px;
}

@media (min-width: 992px) {
	.profilepane__avatar {
		width: 150px;
		height: 150px;
	}

	.profilepane__avatar img {
		border-radius: 150px;
	}
}

.profilepane__name {
	letter-spacing: -0.015em;
	color: #000000;
	font-weight: bold;
	font-size: 24px;
	line-height: 1.2;
	margin-top: 14px;
}

.profilepane__subname {
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	letter-spacing: -0.015em;
	color: #000000;
	margin-top: 6px;
	margin-bottom: 6px;
}

.profilepane__link {
	display: inline-block;
	text-decoration: none;
	
	letter-spacing: -0.015em;
	color: #7C7C7C;
	font-weight: 500;
	font-size: 18px;
	margin-top: 14px;
}

@media (min-width: 992px) {
	.profilepane__name {
		font-size: 24px;
		line-height: 1.2;
		margin-top: 34px;
	}

	.profilepane__subname {
		font-size: 18px;
		line-height: 1.2;
		margin-top: 12px;
		margin-bottom: 12px;
	}

	.profilepane__link {
		font-size: 18px;
		margin-top: 20px;
	}
}

.profilepane__logout {
	display: inline-block;
	text-decoration: none;
	
	background: #FFFFFF;
	border: 1px solid #000000;
	box-sizing: border-box;
	border-radius: 6px;
	letter-spacing: -0.015em;
	width: 130px;
	height: 40px;
	text-align: center;
	
	color: #000000;
	font-weight: 500;
	font-size: 15px;
	line-height: 36px;
	
	margin-top: 40px;
}

@media (min-width: 992px) {
	.profilepane__logout {
		margin-top: 60px;
	}
}

.profilepane__cancel {
	color: #7C7C7C;
	letter-spacing: -0.015em;
	font-weight: 500;
	font-size: 15px;
	line-height: 1.2;
	margin-top: 14px;
	cursor: pointer;
}

.login-wrapper {
	height: 100%;
	width: 100%;
	position: absolute;
	top: 0px;
	left: 0px;
	z-index: 10;
	
	background-color: rgba(0, 0, 0, 0.7);
	
	align-items: center;
	display: none;
	flex-direction: column;
}

.login-visible {
	display: flex;
}

.login {
	width: 100%;
	max-width: 583px;
	height: 388px;

	background: #FFFFFF;
	
	position: fixed;
	margin-top: 40px;
	
	display: flex;
	flex-direction: column;
	align-items: center;
	
	padding-top: 45px;
}

@media (min-width: 992px) {
	.login {
		width: 583px;
		height: 488px;
		
		padding-top: 85px;
		margin-top: 100px;
	}
}

.login__title {
	color: #000000;
	letter-spacing: -0.015em;
	font-family: Comfortaa;
	font-style: normal;
	font-size: 36px;
	line-height: 40px;
	margin-left: 10px;
}

@media (min-width: 992px) {
	.login__title {
		font-size: 36px;
		line-height: 40px;
		margin-left: 60px;
	}
}

.login__input {
	display: flex;
	flex-direction: column;
	margin-top: 20px;
}

.login__input label {
	letter-spacing: -0.015em;
	text-indent: 7px;

	color: #7C7C7C;
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	margin-bottom: 8px;
}

.login__input input {

	text-indent: 7px;

	background: #FFFFFF;
	border: 1px solid #777777;
	box-sizing: border-box;
	border-radius: 0px;
	
	font-weight: 500;
	font-size: 18px;
	line-height: 1.2;
	color: #000000;
	height: 36px;
	width: 270px;
}

#login__remember__checkbox {
	display: inline-block;
	background-image: url("../img/checkbox.svg");
	background-size: cover;
	width: 12px;
	height: 12px;
}

#INPUT-REMEMBER:checked + label {
  background-image: url("../img/checkbox-checked.svg");
}

#login__checkbox input {
	display: none;
}

.login__checkbox__label {
	color: #7C7C7C;
	font-weight: 500;
	font-size: 14px;
}

.login__forgotpassword {
	display: inline-block;
	text-decoration: none;
	color: #7C7C7C;
	font-weight: 500;
	font-size: 14px;
}

.login__subbuttons {
	display: flex;
	width: 270px;
	justify-content: space-between;
	margin-top: 10px;
}

.login__loginbutton {
	background: #000000;
	border-radius: 5px;
	height: 40px;
	width: 130px;
	
	text-align: center;
	letter-spacing: -0.015em;
	color: #FFFFFF;
	
	font-weight: 500;
	font-size: 15px;
	line-height: 40px;
	border: none;
	
	cursor: pointer;
	
	margin-top: 30px;
}