@font-face {
    font-family: 'HistoryPro';
    src: url('HistoryPro-Two.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

body {
	background-color: rgb(227, 227, 227);
	font-family: Montserrat,sans-serif;
	margin: 0;
	table-layout: fixed;
}

.site__container {
	
}

.main__menu {
	position: fixed;
	height: 100%;
	width: 140px;
	background-color: rgb(144, 143, 143);
	z-index: 1;
	
	display: none;
	flex-direction: column;
	align-items: center;
	
	top: 0;
	left: 0;
	
	transform-style: preserve-3d;
}

.main__menu__burger {
	position: fixed;
	height: 140px;
	width: 140px;
	background-color: rgb(144, 143, 143);
	z-index: 1;
	
	display: none;
	align-items: center;
	justify-content: center;
	transform-style: preserve-3d;
	
	top: 100%;
}

.main__menu__burger-smooth {
	transition: all 700ms ease 0s;
}

.main__menu__burger-out {

	top: 0;
}

.main__menu__burger-down {

	top: calc(-140px + 100vh) !important;
}

.main__menu__burger-icon {
	width: 45px;
	height: 41px;
	
	background-image: url("../img/burger.svg");
	background-size: contain;
	
	cursor: pointer;
}

.main__menu-smaller {
	transform: translate3d(0px, -0%, 0px) !important;
	height: calc(-140px + 100vh) !important;
}

.main__menu-smooth {
	transition: all 700ms ease 0s;
}

.main__menu-hide {
	transform: translate3d(0px, -100%, 0px)
}

.mobile__main__menu {
	position: fixed;
	height: 60px;
	width: 100%;
	background-color: rgb(144, 143, 143);
	z-index: 1;
	
	display: flex;
	align-items: center;
	justify-content: center;
	
	top: 0;
	left: 0;
}

.mobile__menu__button {
	width: 22px;
	height: 16px;
	
	position: fixed;
	top: 22px;
	left: 30px;
	
	background-image: url("../img/burger.svg");
	background-size: contain;
	
	cursor: pointer;
}

.mobile__menu-active {
	display: flex !important;
}

.mobile__menu {
	display: none;
	
	position: fixed;
	z-index: 3;
	top: 60px;
	left: 0;
	width: 100%;
	background-color: rgb(134, 133, 133);
	flex-direction: column;
	font-family: HistoryPro;
	font-size: 18px;
	color: #7d674a;
	letter-spacing: 0;
	text-align: center;
	
	transform-style: preserve-3d;
}

.mobile__menu__item {
	font-family: HistoryPro;
	font-size: 18px;
	text-decoration: none;
	color: white;
	padding: 10px 0;
	display: flex;
	cursor: pointer;
	margin-left: 20px;
}

.mobile__menu__item img {
	object-fit: contain;
	height: 30px;
	margin-right: 10px;
}

.content-wrapper {
	height: 100%;
	width: 100%;
	padding-top: 60px;
}

@media (max-width: 991.97px) {
	.iScrollIndicator {
		display: none !important;;
	}
}

@media (min-width: 992px) {
	.main__menu {
		display: flex;
	}
	
	.mobile__menu {
		display: none  !important;
	}
	
	.main__menu__burger {
		display: flex;
	}
	
	.mobile__main__menu {
		display: none;
	}
	
	.content-wrapper {
		padding-top: 0px;
	}
}

.main__menu__logo {
	width: 60px;
	height: 63px;
	display: inline-block;
	margin: 4px 0px;
	cursor: pointer;
	transition: all 700ms ease 0s;
}

.main__menu__logo-mobile {
	width: 50px;
	height: 50px;
	display: inline-block;
	margin: 4px 0px;
	cursor: pointer;
	transition: all 700ms ease 0s;
}

.main__menu__button {
	display: inline-block;
	margin: 4px 0px;
	cursor: pointer;
	transition: all 700ms ease 0s;
	width: 35px;
	cursor: pointer;
}

.main__menu .main__menu__button-hide {
	display: none !important;
}

.main__menu__button img {
	object-fit: contain;
	width: 100%;
}

@media (min-height: 525px) {
	.main__menu__logo {
		width: 100px;
		height: 104px;
	}

	.main__menu__button {
		width: 45px;
	}
}

@media (min-height: 725px) {
	.main__menu__logo {
		margin: 20px 0px;
	}

	.main__menu__button {
		margin: 20px 0px;
	}
}

.main__menu__separator {
	flex: 1;
}

.content {
	margin-left: 0px;
}

.welcomepage {

	height: 100%;
	display: flex;
	margin-left: 0px;
	position: relative;
}

.welcomepage__mouse-wrapper {
	position: absolute;
    left: 42%;
    bottom: 24px;
    height: 62px;
    width: 23px;
    display: none;
    flex-direction: column;
    -moz-box-align: center;
    align-items: center;
    opacity: 1;
}

@media (min-width: 992px) {
	.welcomepage__mouse-wrapper {
		display: flex;
	}
}

.flippingtext {
    background: white none repeat scroll 0% 0%;
	color: rgb(115, 105, 95);
    font-size: 12px;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    height: 100%;
    width: 100%;
    line-height: 1.5;
    font-weight: bold;
    text-transform: uppercase;
    letter-spacing: 3px;
    text-align: center;
    pointer-events: none;
    font-family: HistoryPro, sans-serif;
}

@media (min-width: 492px) {
	.flippingtext {
		font-size: 18px;
	}
}

@media (min-width: 992px) {
	.flippingtext {
		font-size: 36px;
	}
}

.flippingContainer {
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: all 0.6s linear 0s;
    transform: rotateY(-180deg);
}

.flippingContainer-rotated {
	transform: rotateY(0deg);
}

.flippingContainer .front {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden;
}

.flippingContainer .back {
    display: block;
	box-sizing: border-box;
	transform: rotateY(-180deg);
	
	position: absolute;
	width: 100%;
	height: 100%;
	backface-visibility: hidden;
}

.welcomepage__mouse-wrapper .circle {
    height: 4px;
    width: 4px;
    margin-bottom: 5px;
    background-color: 
    white;
    border-radius: 50%;
    display: table;
    animation: 2000ms ease-in-out 0s infinite normal both running flash;
}

@keyframes flash {
	0% {
		opacity: 0;
	}
	20%{
		opacity: 1;
	}
	100%{
		opacity: 0;
	} 
}

.circle.c1 {
    animation-delay: 200ms;
}

.circle.c2 {
    animation-delay: 400ms;
	margin-bottom: 3px;
}

.welcomepage__mouseicon {
    height: 37px;
    width: 37px;
}

@media (min-width: 992px) {
	.welcomepage {
		margin-left: 140px;
	}
}



.welcomepage__maindivider-left {
	width: 68%;
}

.welcomepage__maindivider-right {
	width: 32%;
}

.welcomepage__right-top {
	height: 59%;
}

.welcomepage__right-bottom {
	height: 41%;
}

.welcomepage__subdivider-top {
	height: 16%;
}

.welcomepage__subdivider-bottom {
	height: 84%;
}

.welcomepage__subdivider {
	width: 100%;
	height: 100%;
}

.welcomepage__subdivider-horizontal {
	width: 100%;
	height: 100%;
	display: flex;
}

.welcomepage__topleft-left {
	width: 62%;
	position: relative;
}

.welcomepage__topleft-right {
	width: 38%;
}

.welcomepage__center-left {
	width: 25%;
}

.welcomepage__center-right {
	width: 75%;
	position: relative;
}

.welcomepage__centerleft-top {
	height: 76%;
}

.welcomepage__centerleft-bottom {
	height: 24%;
}

.playvideo {
	position: absolute;
	cursor: pointer;
	border: 5px solid white;
	width: 80%;
	height: 50%;
	opacity: 0.5;
	top: 25%;
	left: 10%;
	transition: all 500ms ease-in-out 0s;
	justify-content: center;
	display: flex;
	align-items: center;
}

.playvideo:hover {
	opacity: 0.7;
	box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 32px;
}

.playvideo img {
	height: 129px;
	width: 129px;
	object-fit: cover;
	border-radius: 50%;
	transition: all 500ms ease-in-out 0s;
}

.playvideo:hover img {
	box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 32px;
}


.aboutpage {
	
	height: 100%;
	display: flex;
	flex-direction: column;
	
	padding-right: 10px;
	padding-left: 10px;
	margin-bottom: 200px;
	
	margin-left: 0px;
}

@media (min-width: 992px) {
	.aboutpage {
		margin-left: 150px;
	}
}

@media (min-width: 992px) {
	.aboutpage {
		flex-direction: row;
		padding-right: 83px;
		padding-left: 0px;
	}
}

.aboutpage p {
	padding-bottom: 1em;
	font-size: 18px;
	text-align: justify;
}

@media (min-width: 992px) {
	.aboutpage p {
		font-size: 24px;
	}
}

.aboutpage h1 {
	font-family: HistoryPro,sans-serif;
	font-size: 40px;
	line-height: 50px;
	letter-spacing: 2px;
	margin-bottom: 40px;
	text-transform: uppercase;
}

.aboutpage ul {
	padding: 0;
	list-style: none;
}

.aboutpage li {
	padding-bottom: 1em;
	font-size: 24px;
	
}

.aboutpage li::before {
	content: "";
	display: inline-block;
	height: 9px;
	width: 9px;
	margin-right: 9px;
	position: relative;
	margin-bottom: 5px;
	background-color:
	rgb(36, 36, 36);
}

.aboutpage__leftcolumn {
	flex: 0.9;
	margin-top: 20px;
}

@media (min-width: 992px) {
	.aboutpage__leftcolumn {
		margin-top: 190px;
		
	}
}

.aboutpage__centercolumn {
	flex: 1;
}

.aboutpage__rightcolumn {
	flex: 0.9;
	margin-top: 0px;
}

@media (min-width: 992px) {
	.aboutpage__rightcolumn {
		margin-top: 190px;
	}
}

.aboutpage__images {
	padding-left: 0px;
	padding-right: 0px;
	margin-top: 0px;
}

@media (min-width: 992px) {
	.aboutpage__images {
		padding-left: 40px;
		padding-right: 40px;
		margin-top: 90px;
	}
}

.aboutpage__images img {
	max-width: 100%;
	object-fit: cover;
	padding: 4px;
	min-width: 40%;
}

.aboutpage__imagerow {
	display: flex;
}

.aboutpage__images .first, .aboutpage__images .third {
	opacity: 0.7;
	max-height: 300px;
}


.gallery {
	width: 100%;
	height: 100%;
	background-color: rgb(255, 255, 255);
	padding-top: 10px;
}

.gallery h1 {
	font-size: 37px;
	color: rgb(115, 105, 95);
	line-height: 1;
	position: relative;
	letter-spacing: 2px;
	text-align: center;
	
	font-family: HistoryPro,sans-serif;
	text-transform: uppercase;
	
	margin-top: 10px;
	margin-bottom: 20px;
}

@media (min-width: 992px) {
	.gallery h1 {
		margin-top: 42px;
		margin-bottom: 60px;
	}
}

@media (min-width: 1500px) {
	.gallery h1 {
		margin-top: 52px;
		margin-bottom: 100px;
	}
}

.gallery-carousel {
	height: 200px;
	margin-bottom: 20px;
}

.gallery-carousel img {
	object-fit: cover;
	width: 200px;
	height: 200px;
}

@media (min-width: 1500px) {
	.gallery-carousel {
		height: 300px;
	}

	.gallery-carousel img {
		width: 300px;
		height: 300px;
	}
}


/* Arrows */
.slick-prev,
.slick-next
{
    font-size: 0;
    line-height: 0;

    position: absolute;
    top: 50%;

    display: block;

    width: 50px;
    height: 50px;
    padding: 0;
    -webkit-transform: translate(0, -50%);
    -ms-transform: translate(0, -50%);
    transform: translate(0, -50%);

    cursor: pointer;

    color: transparent;
    border: none;
    outline: none;
    background: transparent;
	z-index: 1;
}

.slick-prev
{
    left: 10px;
	background-image: url("../img/arrow.png");
	background-size: cover;
	transform: translate(0, -50%) rotate(-90deg);
}

.slick-next
{
    right: 10px;
	background-image: url("../img/arrow.png");
	background-size: cover;
	transform: translate(0, -50%) rotate(90deg) ;
}

@media (min-width: 1500px) {
	.slick-prev, .slick-next {
		
	}
}




.gallery-item {
	position: relative;
	cursor: pointer;
}

.gallery-carousel-text {
	position: absolute;
	z-index: 10;
	left: 0;
	bottom: 20px;
	opacity: 0;
	
	background-color: rgb(228, 188, 149);
	color: rgb(254, 254, 254);
	width: 100%;
	font-weight: 500;
	text-transform: uppercase;
	text-align: center;
	font-size: 24px;
	line-height: 24px;
	overflow-wrap: break-word;
	padding: 28px 10px 25px;
}

.gallery-item:hover .gallery-carousel-text {
	opacity: 1;
}


.footer {
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
	font-family: HistoryPro, sans-serif;
	font-size: 16px;
	width: 100%;
	height: 130px;
	text-transform: uppercase;
	color: rgb(140, 140, 140);
	min-height: 130px;
	text-align: center;
}

@media (min-width: 992px) {
	.footer {
		font-size: 22px;
	}
}

.infopage {

	height: 100%;
	padding-top: 10px;
	margin-left: 0px;
}

@media (min-width: 992px) {
	.infopage {
		margin-left: 140px;
	}
}

.infopage h1 {
	font-size: 18px;
	color: rgb(115, 105, 95);
	line-height: 1;
	position: relative;
	letter-spacing: 2px;
	text-align: center;
	
	font-family: HistoryPro,sans-serif;
	text-transform: uppercase;
	margin-top: 10px;
	margin-bottom: 20px;
}

.infopage-back {
	width: 15px;
	height: 16px;
	background-image: url("../img/backarrow.svg");
	background-size: contain;
	display: inline-block;
	margin-bottom: 0px;
	margin-right: 10px;
	cursor: pointer;
}

@media (min-width: 992px) {
	.infopage h1 {
		margin-top: 52px;
		margin-bottom: 100px;
		font-size: 37px;
	}
	
	.infopage-back {
		width: 17px;
		height: 20px;
		margin-bottom: 5px;
	}
}

.infopage__content {
	display: flex;
	margin-left: 10px;
	margin-right: 10px;
	flex-wrap: wrap;
}

@media (min-width: 992px) {
	.infopage__content {
		flex-wrap: wrap;
		margin-left: 10px;
		margin-right: 10px;
	}
}

.infopage__gallery {
	width: 150px;
	position: relative;	
	margin-right: 20px;
	display: none;
}

.infopage__gallery .gallery-item {
	margin-bottom: 10px;
}

.infopage__gallery img {
	object-fit: cover;
	width: 150px;
	height: 150px;
}

.infopage__mainimage__arrow {
	position: absolute;
	width: 50px;
	height: 50px;
	z-index: 0;
	
	background-image: url("../img/arrow.png");
	background-size: cover;
	transform: rotate(0deg);
	
	display: block;
	
	cursor: pointer;
}

@media (min-width: 600px) {
	.infopage__mainimage__arrow {
		display: none;
	}
}

.infopage__arrow-left {
	top: 50%;
	left: 10px;
	transform: translate(0, -50%) rotate(-90deg) ;
}

.infopage__arrow-right {
	top: 50%;
	right: 10px;
	transform: translate(0, -50%) rotate(90deg) ;
}

.infopage__gallery .slick-prev
{
    top: 25px;
	left: 50px;
	background-image: url("../img/arrow.png");
	background-size: cover;
	transform: rotate(0deg);
}

.infopage__gallery .slick-next
{
    bottom: 25px;
	left: 50px;
	top: unset;
	background-image: url("../img/arrow.png");
	background-size: cover;
	transform: rotate(180deg);
}

@media (min-width: 600px) {
	.infopage__gallery {
		display: block;
	}
}

@media (min-width: 992px) {
	.infopage__gallery {
		width: 200px;
	}
	
	.infopage__gallery img {
		width: 200px;
		height: 200px;
	}
	
	.infopage__gallery .slick-prev, .infopage__gallery .slick-next {
		left: 75px;
	}
}

@media (min-width: 1300px) {
	.infopage__gallery {
		width: 250px;
	}
	
	.infopage__gallery img {
		width: 250px;
		height: 250px;
	}
	
	.infopage__gallery .slick-prev, .infopage__gallery .slick-next {
		left: 100px;
	}
}

.infopage__center {
	flex: 2;
}


.infopage__mainimage {
	object-fit: cover;
	width: 100%;
}

.infopage__info {
	width: auto;
	margin-left: 0px;
	margin-right: 0px;
	margin-top: 30px;
}

@media (min-width: 992px) {
	.infopage__info {
		width: 700px;
		margin-left: 20px;
		margin-right: 20px;
		
	}
}

@media (min-width: 1300px) {
	.infopage__info {
		margin-top: 0px;
	}
}

@media (min-width: 1500px) {
	.infopage__info {
		margin-left: 80px;
		margin-right: 140px;
	}
}

.infopage__360video {
	margin-top: 10px;
}

.infopage__videoname {
	width: 100%;
	height: 55px;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
	font-size: 24px;
	background-color: rgb(115, 105, 95);
	color: white;
	text-transform: uppercase;
}

.infopage__video {
	height: 380px;
	background: black url("../img/hqdefault.jpg") no-repeat scroll center center / contain;
}

.ifnopage__video-blackness {
	background-color: rgba(0, 0, 0, 0.53);
	width: 100%;
	height: 100%;
	position: relative;
}


.playvideo-start {
	position: absolute;
	cursor: pointer;
	width: 100%;
	height: 100%;

	justify-content: center;
	display: flex;
	align-items: center;
}

.playvideo-start:hover {

}

.playvideo-start img {
	height: 129px;
	width: 129px;
	object-fit: cover;
	border-radius: 50%;
	transition: all 500ms ease-in-out 0s;
	opacity: 0.3;
}

.playvideo-start:hover img {
	box-shadow: rgba(255, 255, 255, 0.5) 0px 0px 32px;
	opacity: 0.68;
}

.infopage__info {
	color: rgb(116, 105, 94);
	flex: 1.5;
}

@media (max-width: 1299.97px) {
	.infopage__info {
		flex-basis: 100%;
	}
}

.infopage__description-title {
	font-size: 36px;
	font-weight: 600;
	padding-bottom: 5px;
	text-transform: uppercase;
	letter-spacing: 1px;
	font-family: HistoryPro, sans-serif;
	border-bottom: 4px solid;
	display: inline-block;
}

.infopage__description-text {
	font-size: 14pt;
	letter-spacing: 1px;
}

@media (min-width: 992px) {
	.infopage__description-text {
		font-size: 18pt;
	}
}

.infopage__mainimage-wrapper {
	position: relative;
}

.infopage__3dmodelbutton {
	position: absolute;
	height: 56px;
	width: 88px;
	top: 0;
	right: 0;
	background: black url("../img/3dbutton.png") no-repeat scroll center center / contain;
	cursor: pointer;
	z-index: 10;
}

.iframe3dmodel {
	position: absolute;
	top: 0;
	left: 0;
	height: 100%;
	width: 100%;
	display: none;
	z-index: 1;
}

.iframe3dmodel-visible {
	display: block;
}

.history-header {
    margin-left: 20px;
    margin-bottom: 40px;
    font-family: HistoryPro, sans-serif;
    font-size: 30px;
    text-transform: uppercase;
    line-height: 1;
    margin-top: 8px;
	color: rgb(116, 105, 94);

}

.infopage__recent {
	display: flex;
	margin-top: 30px;
	flex-direction: column;
	width: 100%;
}

.history {
	width: 100%;
	height: 100%;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
}

.history img {
	object-fit: contain;
	margin-right: 6px;
	cursor: pointer;
	height: 110px;
	margin-left: 10px;
	margin-bottom: 16px;
}

@media (min-width: 992px) {
	.history img {
		margin-right: 6px;
		height: 210px;
	}
	
	.history-header {
		margin-left: 170px;
		margin-bottom: 60px;
		font-size: 30px;
		line-height: 1;
		margin-top: 8px;
	}
	
	.infopage__recent {
		margin-top: 80px;
	}
}

.news {
	height: 100%;
	display: flex;
	padding-left: 0px;
	flex-direction: column;
	margin-left: 0px;
}

@media (min-width: 992px) {
	.news {
		margin-left: 140px;
	}
}

@media (min-width: 992px) {
	.news {
		padding-left: 380px;
	}
}

.news__categories {
	z-index: 1;
	position: fixed;
	left: 140px;
	height: 100%;
	width: 380px;
	background: rgb(112, 105, 96) none repeat scroll 0% 0%;
	top: 0;
	display: none;
	transform: translateZ(0);
	transform-style: preserve-3d;
}

.news__categories-smooth {
	transition: all 700ms ease 0s;
}

.news__categories-hide {
	transform: translate3d(0px, -100%, 0px)
}

@media (min-width: 992px) {
	.news__categories {
		display: flex;
	}
}

.news__categories-types {
	width: 200px;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
	-moz-box-align: center;
	align-items: center;
	color: white;
	font-size: 20px;
	position: relative;
}

.news__categories-items {
	width: 180px;
	background: rgb(240, 240, 240) none repeat scroll 0% 0%;
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

.news__category {
	cursor: pointer;
	position: relative;
	width: 100%;
	text-align: center;
}

.news__category_active span {
	border-bottom: 4px solid white;
}

.news__category_active:after {
	content: "";
	position: absolute;
	top: -12px;
	left: 100%;
	width: 0px;
	height: 0px;
	z-index: 100;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 7px solid rgb(112, 105, 96);
}

.news__item {
	cursor: pointer;
	color: black;
	background:	rgb(240, 240, 240) none repeat scroll 0% 0%;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-size: 18px;
}

.news__item_active {
	cursor: pointer;
	color:	white;
	background:	rgb(228, 188, 149) none repeat scroll 0% 0%;
	text-transform: uppercase;
	width: 100%;
	padding: 10px 0px;
	text-align: center;
	font-size: 18px;
}

.news__current_arrow {
	position: absolute;
	top: 157px;
	left: 0px;
	width: 0px;
	height: 0px;
	z-index: 100;
	border-top: 35px solid transparent;
	border-bottom: 35px solid transparent;
	border-left: 7px solid rgb(144, 143, 143);
}

.news__header {
	width: 100%;
	height: 140px;
	background-color: rgb(228, 188, 149);
	line-height: 140px;
	margin-bottom: 20px;
	padding-left: 30px;
	color: white;
	font-size: 30px;
}

.news__header h1 {
	font-size: 30px;
	font-family: HistoryPro,sans-serif;
	text-transform: uppercase;
	margin: 0;
	padding: 0;
}

.news__article {
	padding-left: 30px;
	padding-right: 30px;
}

.news__article__title {
	margin: 0;
	padding: 0;
	padding-left: 30px;
	margin-bottom: 14px;
	line-height: 1.6;
	letter-spacing: 2px;
	color: rgb(228, 188, 149);
	font-family: HistoryPro,sans-serif;
	text-transform: uppercase;
	font-size: 24px;
}

@media (min-width: 992px) {
	.news__article__title {
		font-size: 30px;
		margin-bottom: 30px;
	}
	
	.news__header {
		margin-bottom: 110px;
	}
}

@media (min-width: 900px) {
	.news__article__title {
		padding-left: 60px;
	}
	
	.news__header {
		padding-left: 60px;
	}
	
	.news__article {
		padding-left: 60px;
		padding-right: 80px;
	}
}

@media (min-width: 1600px) {
	.news__article__title {
		padding-left: 230px;
	}
	
	.news__header {
		padding-left: 230px;
	}
	
	.news__article {
		padding-left: 230px;
		padding-right: 300px;
	}
}

.news__article h1 {
	margin: 0;
	padding: 0;
	margin-bottom: 14px;
	line-height: 1.6;
	letter-spacing: 2px;
	font-family: HistoryPro,sans-serif;
	text-transform: uppercase;
	font-size: 24px;
	line-height: 30px;
}

@media (min-width: 992px) {
	.news__article h1 {
		font-size: 30px;
		margin-bottom: 30px;
	}
}

.news__article p {
	margin: 0;
	padding: 0;
	font-size: 18px;
	text-align: justify;
}

@media (min-width: 992px) {
	.news__article p {
		font-size: 22px;
	}
}

.news__video {
	height: 250px;
	max-width: 500px;
	background-color: black;
	position: relative;
	margin-bottom: 30px;
	margin-top: 30px;
}

@media (min-width: 992px) {
	.news__video {
		height: 380px;
		max-width: 700px;
		margin-bottom: 80px;
		margin-top: 80px;
	}
}

.news__video > img {
	width: 100%;
	height: 100%;
	object-fit: contain;
}

.playvideo-wrapper {
	width: 100%;
	height: 100%;
	position: relative;
}

.news__video-blackness {
	left: 0;
	top: 0;
	background-color: rgba(0, 0, 0, 0.53);
	width: 100%;
	height: 100%;
	position: absolute;
}

.news__spacer {
	height: 300px;
}



.overlay-video {
  display: none;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=0)";
  opacity: 0;
  -ms-transition: opacity 600ms ease-in;
  transition: opacity 600ms ease-in;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background: rgba(0, 0, 0, .7);
  z-index: 999999;
}

.o1 {
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";
  opacity: 1;
  -ms-transition: opacity 600ms ease-out;
  transition: opacity 600ms ease-out;
  -ms-transition: opacity .6s;
  transition: opacity .6s;
}

.videoWrapperExt {
  position: relative;
  top: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  max-width: 982px;
  padding: 0 20px;
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%;
  /* 16:9 */
  height: 0;
}

.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.videoclose {
 background-image:url(../img/closebutton.png);
  position: absolute;
  top: -50px;
  right: 0px;
  cursor: pointer;
  z-index: 9999;
  height: 40px;
  width: 40px;
  background-size: 40px;
  @media (max-width: 767px) and (orientation: landscape) {
    display: none;
  }
}

.shareoverlay-active {
	display: flex !important;
}

.shareoverlay__back {
	height: 100vh;
	width: 100vw;
	position: absolute;
	top: 0px;
	left: 0px;
	background-color: rgba(0, 0, 0, 0.7);
	display: none;
	-moz-box-pack: center;
	justify-content: center;
	-moz-box-align: center;
	align-items: center;
	z-index: 101;
	cursor: pointer;
}

.shareoverlay {
	width: 90%;
	position: relative;
	display: flex;
	-moz-box-pack: center;
	justify-content: center;
	padding: 20px 20px;
	background-color: white;
	flex-direction: column;
	cursor: default;
	max-width: 500px;
}

@media (min-width: 992px) {
	.shareoverlay {
		max-width: unset;
		width: 800px;
		padding: 40px 140px;
	}
}

.shareoverlay h1 {
    margin-bottom: 50px;
    text-align: center;
    font-size: 32px;
    color: rgb(144, 143, 143);
    line-height: 12px;
    margin-top: 11px;
    letter-spacing: 2px;
	font-family: HistoryPro,sans-serif;
	text-transform: uppercase;
}

@media (min-width: 992px) {
	.shareoverlay h1 {
		font-size: 36px;
	}
}

.socials {
    width: 100%;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    margin-bottom: 30px;
}

.socials .social {
    height: 55px;
    width: 55px;
    font-size: 50px;
    border-radius: 20px;
    color: white;
    display: flex;
    -moz-box-pack: center;
    justify-content: center;
    -moz-box-align: center;
    align-items: center;
    margin-right: 15px;
	border-radius: 9px;
}

@media (min-width: 992px) {
	.socials .social {
		height: 90px;
		width: 90px;
		border-radius: 20px;
		margin-right: 25px;
	}
}

.socials .facebook {
    background-color: rgb(98, 129, 193);
}

.socials .twitter {
    background-color: rgb(67, 189, 238);
}

.socials .whatsapp {
    background-color: rgb(0, 230, 118);
}

.socials .telegram {
    background-color: rgb(40, 159, 218);
    margin-right: 0px;
}

.socials img{
    height: 30px;
}

@media (min-width: 992px) {
	.socials img{
		height: 50px;
	}
}

.shareoverlay .link {
    position: relative;
}

.shareoverlay .link input {
    height: 30px;
    font-family: Montserrat, sans-serif;
    font-size: 16px;
    width: 80%;
    border: 1px solid rgb(3, 3, 3);
	color: rgb(36, 36, 36);
    padding-top: 10px;
    padding-left: 19px;
    letter-spacing: 1px;
}

@media (min-width: 992px) {
	.shareoverlay .link input {
		width: 100%;
		font-size: 36px;
		height: 50px;
	}
}

.shareoverlay .link .copy-link-icon {
    position: absolute;
    right: 10px;
    height: 30px;
    width: 30px;
	object-fit: contain;
}

@media (min-width: 992px) {
	.shareoverlay .link .copy-link-icon {
		right: -70px;
		height: 42px;
		width: 39px;
	}
}

.shareoverlay .close-btn {
    position: absolute;
    right: 5px;
    top: 5px;
    height: 33px;
    width: 33px;
    cursor: pointer;
}

@media (min-width: 992px) {
	.shareoverlay .close-btn {
		right: -40px;
		top: 0px;
	}
}